{% extends 'base.html' %}
{% block title %}Adopcje {% endblock title %}
{% block content %}
    <h1>Adoption</h1>
    <ul>
        {% for obj in adoption_list %}
            <li><h3>{{ obj.animal }}</h3> adopted to <b>{{ obj.adopter }}</b> status adoption
                <b>{{ obj.get_status_display }}</b></li>
            {% if perms.AnimalTeam.delete_adoption %}
                <a href="{% url 'delete_adoption' obj.id %}"><input type="submit" value="Delete"></a>
            {% endif %}
        {% endfor obj %}

    </ul>
{% endblock content %}