<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>AnimalsHelp</title>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="{% url 'index' %}">Home</a>
    {#    <a href="{% url 'about_as' %}">O Nas</a>#}
    <a href="{% url 'all_animals' %}">Our Animals</a>
    <a href="{% url 'add_animals' %}">Add Animal</a>

    {#    <a href="{% url 'about_keeper' %}">Opiekunowie</a>#}
    <a href="{% url 'about_volunteers' %}">Volunteers</a>
    <a href="{% url 'add_volunteers' %}">Sing up for volunteering</a>

    <a href="{% url 'adopter_list' %}">Adopters</a>
    <a href="{% url 'add_adopter' %}">Sing up for adoption</a>
    <a href="{% url 'adoption_list' %}">Found a new House</a>
    <a href="{% url 'add_adoption' %}">Adoption</a>


    <a href="{% url 'all_vet' %}">Our Vets</a>
    <a href="{% url 'add_vet_view' %}">Add Vet</a>
    <a href="{% url 'food' %}">Our Supply</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="{% url 'contact' %}">Contact</a>
</div>
{{ user }}
<div class="contener">
    {% block content %} {% endblock content %}
</div>
</body>

<div class="contener">
    {% block text %}
    <p>"If you want to be great, just help."</p>
    <p>We are a non-profit organization. We help the animal to recover and to lay a new home. </p>
    <p>Do you want to help? Sign up for volunteering. It's the greatest job in the world.</p>
    <p>Want to give a new home? Sign up for adoption.</p>
    <p>If you want to support us otherwise, you may bring the humiliating information to the address you provided in contact:</p>
    <li>emergency animal feed</li>
    <li>hay</li>
    <li>blankets</li>
    <li>blankets</li>
    <li>pens for animals</li>
    <li>towels, leashes, bowls, toys</li>
{% endblock text %}
</html>