{% extends 'base.html' %}
{% block content %}

<p>"If you want to be great, just help."</p>
<p>We are a non-profit organization. We help the animal to recover and to lay a new home. </p>
<p>Do you want to help? Sign up for volunteering. It's the greatest job in the world.</p>
<p>Want to give a new home? Sign up for adoption.</p>
<p>If you want to support us otherwise, you may bring the humiliating information to the address you provided in
    contact:</p>
<li>emergency animal feed</li>
<li>hay</li>
<li>blankets</li>
<li>blankets</li>
<li>pens for animals</li>
<li>towels, leashes, bowls, toys</li>

{% endblock content %}